@font-face {
  font-family: "GothamUltra";
  src: url("../Gotham Ultra.otf");
}

body, html {
  margin: 0;
  font-family:Gotham, b, sans-serif;
  color: #fff;
}

body {
  background-color: #000;
}

.profile {
  display: flex;
  height: 280px;
  background: linear-gradient(rgba(140, 143, 138, 0.36) 0%, rgba(0,0,0,0.5) 100%);
}

#avatar {
  width: 150px;
  height: 150px;
  margin-top: 40px;
  margin-left: 70px;
  border-radius: 100%;
}

#pfp {
  width: 125px;
  border-radius: 100%;
}

#hello {
  margin-top: 115px;
  margin-left: 30px;
  font-size: 30px;
  font-weight: 700;
}

.btn-group {
  position: absolute;
  top: 83px;
  right: 50px;
}

.btn-group button {
  transition-duration: 0.2s;
  border-radius: 10px;
  background-color: transparent;
  border: 3px solid white;
  color: white;
  padding: 10px 24px;
  cursor: pointer;
}

.btn-group button:hover {
  transition-duration: 0.2s;
  background-color: white;
  color: black;
}

h3 {
  margin-top: -50px;
  margin-left: 13%;
  font-size: 30px;
  font-weight: 700;
}

.stat-content {
  display: flex;
  justify-content: center;
}

.cards {
  z-index: 1;
  height: 150px;
  width: 150px;
  border-radius:30px;
  margin: 40px;
  margin-top: -5px;
}

.a, .z, .e, .rt {
  position: relative;
  z-index: 9999;
  display: flex;
  font-family: "GothamUltra", sans-serif;
  font-style: italic;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  color: white;
  align-items: center;
  justify-content: center;
  margin-left: 125px;
  margin-top: -40px;
}

.a {
  background-color: #aa9340;
  box-shadow: 0 0 10px rgba(170, 147, 64, 0.5);
}

.z {
  background-color: #807E76;
  box-shadow: 0 0 10px rgba(128, 126, 118, 0.5);
}

.e {
  background-color: #8F4B0D;
  box-shadow: 0 0 10px rgba(143, 75, 13, 0.5);
}

.rt {
  background-color: #2A4296;
  box-shadow: 0 0 10px rgba(42, 66, 150, 0.5);
}

.Toptracks {
  margin-top: 90px;
}

.Topartists {
  margin-top: -60px;
}

h2 {
  margin-left: -12%;
}

.contacts {
  margin-top: -65px;
  margin-bottom: 15px;
}

#github {
  margin-left: 80vw;
  height: 25px;
  margin-top: 15px;
  padding: 10px;
}

#insta {
  height: 25px;
  margin-top: 15px;
  padding: 10px;
}

#twitterx {
  height: 25px;
  margin-top: 15px;
  padding: 10px;
}

#logo {
  width: 15%;
  padding: 15px;
}

.footer {
  position: fixed;
  width: 100%;
  height: 50px;
  bottom: 0;
  background-color: #121212;
  color: #fff;
  text-align: center;
  font-size: 10px;
}

#art1, #art2, #art3, #art4, #art5, #tra1, #tra2, #tra3, #tra4, #tra5 {
  width: 150px;
  height: 150px;
  border-radius: 30px;
}